{:deps {org.clojure/clojure {:mvn/version "1.9.0"}
        org.clojure/clojurescript {:mvn/version "1.10.764"}
        herb/herb {:mvn/version "0.10.0"}
        com.cognitect/transit-cljs {:mvn/version "0.8.256"}
        com.bhauman/rebel-readline-cljs {:mvn/version "0.1.4"}
        com.bhauman/figwheel-main {:mvn/version "0.2.9"}
        reagent/reagent {:mvn/version "0.8.1"}
        re-frame/re-frame {:mvn/version "0.11.0"}}
 :paths ["src" "resources"]
 :aliases {:build {:main-opts ["-m" "figwheel.main"
                               "-b" "dev" "-r"]}
           :min   {:main-opts ["-m" "figwheel.main"
                               "-co" "prod-defines.edn"
                               "-O" "advanced"
                               "-bo" "dev"]}}}
