^{:watch-dirs ["src"]
  :css-dirs ["resources/public/css"]}
{:main transit-decoder.core
 :externs ["resources/public/js/prism-externs.js"
           "resources/public/js/browser-externs.js"]
 :npm-deps {:prismjs "1.16.0"}
 :install-deps true}
