{:output-dir "resources/public/cljs-out/dev", :closure-defines {"goog.DEBUG" false}, :externs ["resources/public/js/prism-externs.js" "resources/public/js/browser-externs.js"], :install-deps true, :optimizations :advanced, :aot-cache false, :output-to "resources/public/cljs-out/dev-main.js", :asset-path "/cljs-out/dev", :main transit-decoder.core, :npm-deps {:prismjs "1.24.0"}}